@import url("@fcongson/lagom-tokens/build/css/_variables.core.css");

@font-face {
  font-family: "silkamono";
  src: url("./assets/silkamono-regular-webfont.woff2") format("woff2");
}

:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.7;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--lagom-colors-grey-lighter40);
  background-color: var(--lagom-colors-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: var(--lagom-colors-grey-lighter40);
  font-weight: 600;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--lagom-colors-olive-darker20);
  transition: border-bottom 200ms ease-in-out;
}
a:hover {
  border-bottom: 2px solid var(--lagom-colors-olive-lighter40);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}
h1 {
  font-size: 54px;
  line-height: 66px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}
h3 {
  font-size: 24px;
  line-height: 29px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--lagom-colors-grey-darker40);
    background-color: var(--lagom-colors-white);
  }
  a {
    color: var(--lagom-colors-grey-darker40);
    border-bottom: 2px solid var(--lagom-colors-olive-lighter40);
  }
  a:hover {
    border-bottom: 2px solid var(--lagom-colors-grey-darker40);
  }
}
